@charset "UTF-8";
/* color変数 */
/*--------------------------------
コンポーネント
--------------------------------*/
.el_logo {
  z-index: 99;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.el_logo p {
  font-family: trajan-pro-3, serif;
  font-weight: 600;
  font-style: normal;
  color: #f78f93;
  font-size: 1rem;
}

.el_logo img {
  width: 60px;
  vertical-align: middle;
}

.el_icon {
  width: 50px;
}

.el_tel {
  font-size: 2rem;
  color: #707070;
  font-family: josefin-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #c16065;
  font-weight: 400;
  font-style: normal;
}

.el_notice {
  font-size: 1rem;
}

.el_btn {
  display: inline-block;
  width: 180px;
  max-width: 100%;
  padding: 15px 15px;
  background-color: #f78f93;
  border: 2px solid transparent;
  color: #fff;
  font-size: inherit;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  border-radius: 50px;
}

.el_btn:hover span::before {
  right: -30px;
}

.el_btn:hover span::after {
  right: -32px;
  width: 25px;
}

.el_btn.el_btn__square {
  border-radius: 0;
  background-color: #ffffff;
  color: #707070;
  padding: 8px 15px;
  border: 0.5px solid #f78f93;
}

.el_btn.el_btn__square:hover {
  background-color: #f78f93;
  color: #ffffff;
}

.el_btn.el_btn__submit {
  background-color: #ffffff;
  color: #f78f93;
  border: 1px solid #f78f93;
}

.el_btn.el_btn__submit:hover {
  background-color: #f78f93;
  color: #ffffff;
}

.el_btn.el_btn__wide {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.el_backBtn {
  margin-top: 30px;
}

.el_backBtn a {
  color: #f78f93;
}

.ly_section {
  padding-left: 4vw;
  padding-right: 4vw;
}

.ly_inner {
  max-width: 1180px;
  margin: 0 auto;
}

.el_section_ttl {
  font-family: josefin-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #c16065;
  font-weight: 700;
  color: #c16065;
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 0.2em;
  position: relative;
  line-height: 1.3;
  display: table;
  margin-right: auto;
  margin-left: auto;
}

.el_section_ttl::after {
  content: "";
  height: 3px;
  width: 20px;
  background-color: #c16065;
  position: absolute;
  top: 50%;
  left: -30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.el_section_ttl_sub {
  display: block;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.2em;
  color: #c16065;
}

.el_single_ttl {
  font-size: 2rem;
  font-weight: 600;
  color: #c16065;
  margin: 30px 0;
}

.bl_section_header {
  font-family: dnp-shuei-mincho-pr6n, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #c16065;
  font-size: 1.8rem;
  font-weight: normal;
}

/*--------------------------------
ドロワーメニュー
--------------------------------*/
body.noscroll {
  overflow: hidden;
}

.bl_drawer {
  position: fixed;
  top: 0;
  right: -25px;
  width: 500px;
  height: 100%;
  background: #fff2f3;
  padding: 80px 10px;
  -webkit-transform: translateX(500px);
  transform: translateX(500px);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  z-index: 9999;
}

.bl_drawer_item {
  margin-bottom: 30px;
  padding-bottom: 20px;
  padding-left: 50px;
  border-bottom: white 1px solid;
}

.bl_drawer_item a {
  color: #f78f93;
}

.bl_drawer_item > ul {
  padding: 0px 0px 0px 20px;
}

.bl_drawer_item > ul li {
  margin-top: 5px;
}

.bl_drawer_item > ul li::before {
  content: "- ";
  display: inline;
  color: #f78f93;
}

.bl_drawer_list {
  margin-left: -20px;
}

.bl_drawer .el_icon_wrapper {
  padding-left: 50px;
}

.bl_drawerBtn {
  position: fixed;
  top: 23px;
  left: -70px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
  color: #ffffff;
  padding-bottom: 2px;
  z-index: 10000;
  display: none;
}

.bl_drawerBtn.HeightMin {
  top: 10px;
}

.hambarg {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 2px;
  width: 40px;
  background: #f78f93;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.hambarg:nth-child(1) {
  top: 30%;
  left: 50%;
}

.hambarg:nth-child(2) {
  top: 45%;
  left: 50%;
}

.hambarg:nth-child(3) {
  top: 60%;
  left: 50%;
}

.bl_drawer.action {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.bl_drawerBtn.action {
  left: 0;
}

.bl_drawerBtn.action .hambarg {
  width: 20px;
}

.bl_drawerBtn.action .hambarg:nth-child(1) {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

.bl_drawerBtn.action .hambarg:nth-child(2) {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}

.bl_drawerBtn.action .hambarg:nth-child(3) {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

/*--------------------------------
ヘッダー
--------------------------------*/
#header {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color: #ffffff;
  height: 80px;
  position: fixed;
  z-index: 999;
}

#header.HeightMin {
  padding-bottom: 0px;
  height: 59px;
  position: fixed;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#header.HeightMin .el_logo {
  width: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#header.HeightMin .el_logo p {
  display: none;
  white-space: nowrap;
}

.ly_header_inner {
  padding-right: 4vw;
  padding-left: 4vw;
  margin-right: auto;
  margin-left: auto;
}

.bl_headerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 700px;
  margin-right: 50px;
}

.bl_headerNav_item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

.bl_headerNav_item:last-child .bl_headerNav_link::after {
  content: none;
}

.bl_headerNav_link {
  position: relative;
  display: block;
  padding: 15px 5px;
  border-bottom: 4px solid transparent;
  color: #222;
  text-decoration: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.bl_headerNav_link:focus,
.bl_headerNav_link:hover {
  border-bottom-color: #f78f93;
}

/*--------------------------------
ファーストビュー
--------------------------------*/
.ly_fv {
  max-width: 2000px;
  padding-top: 50px;
  margin-left: auto;
  display: block;
  width: 80%;
  position: relative;
}

.ly_fv > img {
  position: relative;
  z-index: -2;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.ly_fv::after {
  /* 透過させた黒を重ねる （擬似要素で実装）*/
  background-color: rgba(0, 0, 0, 0.05);
  /* どの範囲に重ねるかを指定 */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: " ";
  z-index: -1;
}

.ly_fv::before {
  content: "©︎2021 YOGA AMA.";
  font-family: josefin-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #c16065;
  position: absolute;
  top: 30%;
  right: -55px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.ly_fv .el_icon_wrapper {
  position: absolute;
  top: 60%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.ly_fv .el_icon_wrapper .el_icon {
  margin-bottom: 1rem;
}

.ly_fv .el_icon_wrapper .el_icon:last-child {
  margin-bottom: 0px;
}

.bl_fv_copy {
  position: absolute;
  top: 50%;
  left: -50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.bl_fv_copy_main {
  text-align: center;
  background-color: #ffffff;
  letter-spacing: 0.2em;
  font-size: 4rem;
  font-family: dnp-shuei-mincho-pr6n, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #c16065;
  color: #f78f93;
}

.bl_fv_copy_main span {
  font-size: 80%;
}

.bl_fv_copy_txt {
  font-family: dnp-shuei-mincho-pr6n, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #c16065;
  color: #ffffff;
  padding-left: 50px;
  -moz-text-shadow: 4px 0px 41px rgba(0, 0, 0, 0.3);
  -webkit-text-shadow: 4px 0px 41px rgba(0, 0, 0, 0.3);
  -ms-text-shadow: 4px 0px 41px rgba(0, 0, 0, 0.3);
  text-shadow: 4px 0px 41px rgba(0, 0, 0, 0.3);
}

.bl_fv_campaign {
  padding: 20px;
  position: absolute;
  top: 87%;
  right: 60px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.bl_fv_campaign_main {
  line-height: 1.3;
  font-size: 3rem;
  color: #ffffff;
  font-weight: bold;
  position: relative;
}

.bl_fv_campaign_main::after {
  content: "Joinus!";
  font-family: grafolita-script, sans-serif;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  left: -60px;
  top: -30px;
  -webkit-transform: rotate(-385deg);
          transform: rotate(-385deg);
}

.bl_fv_campaign img {
  width: 100px;
}

/*--------------------------------
コンセプトセクション
--------------------------------*/
#concept .bl_section {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

#concept .bl_section_imgWrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#concept .bl_section_body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 4vw;
}

#concept .bl_section_body > *:last-child {
  margin-bottom: 0;
}

/*--------------------------------
ビギナーセクション
--------------------------------*/
#beginner {
  overflow: hidden;
}

#beginner .bl_section {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

#beginner .bl_section_imgWrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#beginner .bl_section_imgWrapper > img {
  width: 100%;
}

#beginner .bl_section_body {
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
  padding-left: 3vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#beginner .bl_section_txt {
  color: #707070;
  margin-bottom: 30px;
}

#beginner .bl_section_body > *:last-child {
  margin-bottom: 0;
}

/*--------------------------------
スケジュールセクション
--------------------------------*/
#schedule.ly_section {
  padding-left: 0vw;
  padding-right: 0vw;
}

#schedule .ly_inner {
  padding-top: 5vh;
  padding-bottom: 8vh;
  max-width: none;
  background-image: url(./img/schedule-bg.jpeg);
  z-index: -2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

#schedule .ly_inner::before {
  /* 透過させた黒を重ねる */
  background-color: rgba(255, 255, 255, 0.3);
  /* どの範囲に重ねるかを指定 */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: " ";
  z-index: -1;
}

#schedule p {
  width: clamp(300px, 50%, 600px);
}

/*--------------------------------
ブログセクション
--------------------------------*/
#blog .bl_blog_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#blog .bl_blog_card {
  width: 50%;
  gap: 20px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#blog .bl_blog_thumbnail {
  width: 45%;
  height: 150px;
}

#blog .bl_blog_thumbnail img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

#blog .bl_blog_body {
  width: 45%;
  color: #707070;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#blog .bl_blog_date {
  font-size: 12px;
  bottom: 0;
}

#blog .bl_blog_ttl {
  font-size: 1.8rem;
  color: #272534;
}

#blog .bl_blog_excerpt {
  line-height: 1.2;
}

/*--------------------------------
リザーブセクション
--------------------------------*/
#reserve .ly_container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#reserve .bl_section {
  margin: 0 auto;
}

#reserve .bl_section_txt {
  color: #707070;
  margin-bottom: 20px;
}

#reserve .bl_section_body > *:last-child {
  margin-bottom: 0;
}

#reserve p {
  width: clamp(300px, 50%, 600px);
}

#reserve .bl_banner_wrapper img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

#reserve .bl_banner_wrapper:hover {
  opacity: 0.5;
}

/*--------------------------------
フォトセクション
--------------------------------*/
#photo.ly_section {
  padding-right: 0vw;
  padding-left: 0vw;
}

#photo .ly_inner {
  max-width: none;
}

/*--------------------------------
アクセスセクション
--------------------------------*/
#access {
  overflow: hidden;
}

#access.ly_section {
  padding-right: 0px;
  padding-left: 0px;
}

#access .ly_inner {
  max-width: none;
}

#access .bl_section {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

#access .bl_section_imgWrapper img {
  width: 150px;
}

#access .bl_section_body > *:last-child {
  margin-bottom: 0;
}

#access .el_notice {
  color: #707070;
}

#access .el_tel {
  vertical-align: sub;
}

#access .el_tel span {
  font-size: 2rem;
  color: #c16065;
}

#access iframe {
  width: 100%;
  max-width: 1920px;
  height: 300px;
}

#access .ggmap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

#access .ggmap iframe,
#access .ggmap object,
#access .ggmap embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*--------------------------------
バナーセクション
--------------------------------*/
#banner .bl_section {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  gap: 2vw;
}

#banner .bl_section_imgWrapper img {
  width: 180px;
}

/* フォトギャラリー */
#bwg_container1_0 #bwg_container2_0 .tablenav-pages_0 a {
  margin-top: 30px !important;
  display: inline-block;
  font-family: "游ゴシック体", YuGothic, "游ゴシック" !important;
  width: 180px;
  max-width: 100%;
  padding: 20px 15px !important;
  border: none !important;
  color: #fff !important;
  font-size: inherit;
  font-weight: normal !important;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  border-radius: 50px !important;
  background-color: #f78f93 !important;
  font-size: 0 !important;
}

#bwg_container1_0 #bwg_container2_0 .tablenav-pages_0 a::after {
  font-size: 1.4rem;
  content: "VIEW MORE";
}

#bwg_container1_0
#bwg_container2_0
.bwg-container-0.bwg-standard-thumbnails
.bwg-item {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

/*--------------------------------
フッター
--------------------------------*/
.ly_footer {
  background-color: #fff2f3;
  border-bottom: 1px solid #ffffff;
}

.ly_footer .el_section_ttl {
  font-size: 2rem;
  margin-bottom: 10px;
}

.ly_footer .el_section_ttl span {
  font-size: 1.5rem;
}

.ly_footer .el_section_ttl::after {
  display: none;
}

.ly_footer .ly_inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.el_icon {
  width: 35px;
}

.el_icon_wrapper {
  gap: 10px;
}

.bl_footer_side {
  margin-right: 30px;
}

.bl_footer_nav {
  padding-left: 2%;
  margin-right: 2%;
  border-left: 1px solid #f78f93;
}

.bl_footer_nav a {
  margin-right: 30px;
  color: #f78f93;
  position: relative;
}

.bl_footer_nav li {
  white-space: nowrap;
  margin: 10px;
}

.bl_footer_nav li:hover {
  opacity: 0.7;
}

.bl_footer_nav > ul {
  padding: 0px 0px 0px 20px;
}

.bl_footer_nav > ul li::before {
  content: "- ";
  display: inline;
  color: #f78f93;
}

.ly_copyright {
  background-color: #f78f93;
  text-align: center;
  border-top: 1px solid #ffffff;
}

.ly_copyright span {
  color: #ffffff;
  vertical-align: middle;
  font-size: 1.2rem;
}

.bl_production {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.5;
}

.bl_production img {
  width: 80px;
}

.bl_production p {
  font-size: 10px;
  color: white;
}

/* ここから各固定ページ */
.ly_heading {
  height: 500px;
  position: relative;
}

.ly_heading img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ly_heading h2 {
  z-index: 2;
  font-family: josefin-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #c16065;
  font-size: 2rem;
  letter-spacing: 10px;
  position: absolute;
  text-align: center;
  color: #ffffff;
  position: absolute;
  white-space: nowrap;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ly_breadcrumbs {
  padding-right: 4vw;
  padding-left: 4vw;
  background-color: #f5f5f5;
}

.bl_breadcrumbs {
  margin: 0 auto;
  padding-top: 17px;
  padding-bottom: 17px;
}

.bl_breadcrumbs span {
  vertical-align: middle;
}

/*--------------------------------
ビギナーページ
--------------------------------*/
#beginner-page #campaign .bl_section_txt {
  margin: 0px auto;
  width: clamp(300px, 100%, 600px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#beginner-page #campaign .bl_section_imgWrapper {
  max-width: 500px;
  margin: 0 auto;
}

#beginner-page #reason .el_section_header {
  font-size: 2rem;
  text-align: center;
  color: #272534;
}

#beginner-page #reason .bl_section {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

#beginner-page #reason .bl_section_imgWrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#beginner-page #reason .bl_section_imgWrapper > img {
  width: 100%;
}

#beginner-page #reason .bl_section_body .bl_section_header:first-child {
  font-family: josefin-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #c16065;
  font-weight: 700;
}

#beginner-page #reason .bl_section_body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#beginner-page #reason .bl_section_txt {
  color: #707070;
  margin-bottom: 20px;
}

#beginner-page #reason .bl_section_body > *:last-child {
  margin-bottom: 0;
}

#beginner-page #voice .bl_section {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2%;
}

#beginner-page #voice .bl_section_card {
  display: block;
  width: 20%;
}

#beginner-page #voice .bl_section_imgWrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

#beginner-page #voice .bl_section_imgWrapper > img {
  width: 50%;
}

#beginner-page #voice .bl_section_body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #707070;
}

#beginner-page #voice .bl_section_name {
  color: #f78f93;
}

#beginner-page #voice .bl_section_txt {
  width: clamp(300px, 100%, 600px);
}

#beginner-page #voice .bl_section_body > *:last-child {
  margin-bottom: 0;
}

#beginner-page #voice .balloon-top {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 10px 15px;
  min-width: 120px;
  max-width: 100%;
  font-size: 16px;
  background: #f5f5f5;
}

#beginner-page #voice .balloon-top:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom: 15px solid #f5f5f5;
}

#beginner-page #voice .balloon-top:before .balloon-top p {
  margin: 0;
  padding: 0;
}

/*--------------------------------
スタジオレンタルページ
--------------------------------*/
#rental-page #lead .bl_section_txt {
  margin: 0px auto;
  width: clamp(300px, 100%, 600px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#rental-page .el_section_header {
  font-size: 2rem;
  text-align: center;
  color: #272534;
}

#rental-page .bl_section {
  gap: 4vw;
}

#rental-page .bl_section_imgWrapper {
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#rental-page .bl_section_header {
  text-align: left;
  font-family: initial;
  font-size: 1.8rem;
  color: #272534;
  position: relative;
}

#rental-page .bl_section_header::after {
  content: "";
  height: 1px;
  width: 30px;
  background-color: #c16065;
  position: absolute;
  bottom: -20px;
  left: 0px;
}

#rental-page .bl_section_body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 4vw;
  width: 100%;
}

#rental-page .bl_section_body .bl_notice {
  max-width: 500px;
  font-size: 1rem;
}

#rental-page .bl_section_price {
  border: 1px solid #f78f93;
  max-width: 500px;
}

#rental-page .bl_section_price span {
  font-weight: 600;
  text-align: center;
  background-color: #f78f93;
  color: #ffffff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px 20px;
}

#rental-page .bl_section_price p {
  text-align: center;
  background-color: #ffffff;
  color: #707070;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 20px 20px;
}

#rental-page .bl_section_price small {
  font-size: 80%;
}

#rental-page .bl_section_txt {
  margin-top: 30px;
}

#rental-page .bl_section_txt ul {
  padding-left: 30px;
}

#rental-page .bl_section_txt ul li {
  list-style: circle;
}

#rental-page .bl_section:last-child .bl_section_txt ul {
  padding-left: 20px;
}

/*--------------------------------
リザーブページ
--------------------------------*/
#reserve-page #lead .el_section_ttl::after {
  display: none;
}

#reserve-page .bl_required_item {
  margin: 30px auto;
  border: 1px solid #f5f5f5;
  width: clamp(300px, 100%, 600px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#reserve-page .bl_required_item i {
  margin-right: 1rem;
}

#reserve-page .bl_required_item > p {
  color: #ffffff;
  padding: 10px 30px;
  background-color: #f78f93;
}

#reserve-page .bl_required_item ul {
  padding: 40px 30px;
}

#reserve-page .bl_required_item ul li {
  list-style-type: circle;
}

#reserve-page .bl_notice {
  margin: 0 auto;
  width: clamp(300px, 100%, 600px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#reserve-page .bl_notice_title {
  font-weight: 600;
}

/*--------------------------------
よくある質問ページ
--------------------------------*/
#faq-p .bl_faq_list {
  max-width: 980px;
  margin-right: auto;
  margin-left: auto;
}

#faq-p .bl_faq_item_question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 28px 37px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #f8f8f8;
  cursor: pointer;
}

#faq-p .bl_faq_item_question p {
  color: #272534;
}

#faq-p .bl_faq_item_question img {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
}

#faq-p .el_faq_icon {
  position: relative;
  width: 60px;
  height: auto;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  cursor: pointer;
  z-index: 999;
}

#faq-p .el_faq_icon::before {
  content: "";
  position: absolute;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
  height: 1px;
  width: 10px;
  background: #f5f5f5;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  top: 50%;
  left: 50%;
}

#faq-p .el_faq_icon::after {
  content: "";
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 1px;
  width: 10px;
  background: #f5f5f5;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  top: 50%;
  left: 50%;
}

#faq-p .bl_faq_item_answer {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: none;
  color: #333;
  text-align: left;
  background-color: #f8f8f8;
  padding: 28px 20px 28px 37px;
}

#faq-p .bl_faq_item_answer img {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 1rem;
}

#faq-p .bl_faq_item_answer p {
  line-height: 1.4;
}

#faq-p .bl_faq_item_question.open .el_faq_icon::before {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#faq-p .bl_faq_item_question.open .el_faq_icon::after {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*--------------------------------
出張レッスンページ
--------------------------------*/
#private-lesson-page #lead .bl_section_txt {
  margin: 0px auto;
  width: clamp(300px, 100%, 600px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#private-lesson-page #lead .bl_section_imgWrapper {
  max-width: 500px;
  margin: 0 auto;
}

#private-lesson-page .el_section_header {
  font-size: 2rem;
  text-align: center;
  color: #272534;
}

#private-lesson-page .bl_section_imgWrapper {
  max-width: 500px;
  margin: 0 auto;
}

#private-lesson-page .el_section_header {
  font-size: 2rem;
  text-align: center;
  color: #272534;
}

#private-lesson-page .bl_section {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

#private-lesson-page .bl_section_imgWrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#private-lesson-page .bl_section_imgWrapper > img {
  width: 100%;
}

#private-lesson-page .bl_section_body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 4vw;
}

#private-lesson-page .bl_section_txt {
  color: #707070;
  margin-bottom: 20px;
}

#private-lesson-page .bl_section_body > *:last-child {
  margin-bottom: 0;
}

#private-lesson-page .bl_section_box {
  margin: 0 auto;
  background-color: #fff2f3;
  font-weight: 600;
  width: clamp(300px, 100%, 600px);
  padding: 20px 30px 40px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#private-lesson-page .bl_section_box i {
  margin-right: 1rem;
}

#private-lesson-page .bl_section_box p {
  color: #c16065;
  margin-bottom: 10px;
}

#private-lesson-page .bl_scroll {
  overflow-x: scroll;
}

#private-lesson-page .bl_priceUnit {
  list-style: none;
}

#private-lesson-page .bl_priceUnit .bl_price_card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1%;
}

#private-lesson-page .bl_priceUnit .bl_price_card:last-child {
  margin-right: 0;
}

#private-lesson-page .bl_price_header {
  padding: 2.4rem;
  text-align: center;
}

#private-lesson-page .bl_price_card:nth-of-type(1) .bl_price_header {
  background: -webkit-gradient(linear, left top, right top, from(#edb6ee), to(#db3ee1));
  background: linear-gradient(to right, #edb6ee 0%, #db3ee1 100%);
}

#private-lesson-page .bl_price_card:nth-of-type(2) .bl_price_header {
  padding: 3.6rem 2.4rem;
  background: -webkit-gradient(linear, left top, right top, to(#db3ee1));
  background: linear-gradient(to right, #db3ee1 100% #8b3378 100%);
}

#private-lesson-page .bl_price_card:nth-of-type(3) .bl_price_header {
  background: -webkit-gradient(linear, left top, right top, to(#8b3378));
  background: linear-gradient(to right, #8b3378 100% #694f66 100%);
}

#private-lesson-page .bl_price_card:nth-of-type(4) .bl_price_header {
  background: -webkit-gradient(linear, left top, right top, to(#8b3378));
  background: linear-gradient(to right, #8b3378 100% #694f66 100%);
}

#private-lesson-page .bl_price_card:nth-of-type(5) .bl_price_header {
  background: -webkit-gradient(linear, left top, right top, to(#8b3378));
  background: linear-gradient(to right, #8b3378 100% #694f66 100%);
}

#private-lesson-page .bl_price_ttl {
  line-height: 3.6rem;
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
}

#private-lesson-page .bl_price_body {
  padding: 30px 15px 15px 15px;
  height: 350px;
  text-align: center;
  border-bottom: 1px solid #f78f93;
  border-right: 1px solid #f78f93;
  border-left: 1px solid #f78f93;
}

#private-lesson-page .bl_price_price {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  color: #f78f93;
  white-space: nowrap;
}

#private-lesson-page .bl_price_price span {
  font-size: 1.6rem;
  color: #707070;
  font-weight: normal;
  margin-right: -8px;
}

#private-lesson-page .bl_price_price.bl_price_price__white {
  color: #ffffff;
  font-size: 3rem;
}

#private-lesson-page .bl_price_price.bl_price_price__white span {
  font-size: 1.2rem;
  color: #ffffff;
}

#private-lesson-page .bl_price_features {
  text-align: center;
}

#private-lesson-page .bl_price_features > *:last-child {
  margin-bottom: 0;
}

#private-lesson-page .bl_price_features dt {
  padding: 5px;
  margin-bottom: 10px;
}

#private-lesson-page .bl_price_features dd {
  margin-bottom: 20px;
}

#private-lesson-page .bl_price_features_detail {
  position: relative;
  padding: 30px 10px 30px 10px;
}

#private-lesson-page .bl_plan_service_table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  table-layout: fixed;
  width: 100%;
  text-align: left;
}

#private-lesson-page .bl_plan_service_table thead .blank {
  background-color: #ffffff;
}

#private-lesson-page .bl_plan_service_table thead th:nth-of-type(2) {
  background: -webkit-gradient(linear, left top, right top, from(#f5929c), to(rgba(214, 157, 160, 0.5)));
  background: linear-gradient(to right, #f5929c 0%, rgba(214, 157, 160, 0.5) 100%);
}

#private-lesson-page .bl_plan_service_table thead th:nth-of-type(3) {
  background: -webkit-gradient(linear, left top, right top, from(#f5929c), to(rgba(214, 157, 160, 0.5)));
  background: linear-gradient(to right, #f5929c 0%, rgba(214, 157, 160, 0.5) 100%);
}

#private-lesson-page .bl_plan_service_table thead th:nth-of-type(4) {
  background: -webkit-gradient(linear, left top, right top, from(#f5929c), to(rgba(214, 157, 160, 0.5)));
  background: linear-gradient(to right, #f5929c 0%, rgba(214, 157, 160, 0.5) 100%);
}

#private-lesson-page .bl_plan_service_table thead th:nth-of-type(5) {
  background: -webkit-gradient(linear, left top, right top, from(#f5929c), to(rgba(214, 157, 160, 0.5)));
  background: linear-gradient(to right, #f5929c 0%, rgba(214, 157, 160, 0.5) 100%);
}

#private-lesson-page .bl_plan_service_table thead th:nth-of-type(6) {
  background: -webkit-gradient(linear, left top, right top, from(#f5929c), to(rgba(214, 157, 160, 0.5)));
  background: linear-gradient(to right, #f5929c 0%, rgba(214, 157, 160, 0.5) 100%);
}

#private-lesson-page .bl_plan_service_table thead th:nth-of-type(7) {
  background: -webkit-gradient(linear, left top, right top, from(#f5929c), to(rgba(214, 157, 160, 0.5)));
  background: linear-gradient(to right, #f5929c 0%, rgba(214, 157, 160, 0.5) 100%);
}

#private-lesson-page .bl_plan_service_table thead th {
  padding: 1em 0.8em;
  margin-right: 10px;
  text-align: center;
  vertical-align: middle;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#private-lesson-page .bl_plan_service_table thead th:last-child {
  margin-right: 0;
}

#private-lesson-page .bl_plan_service_table thead th:first-child {
  margin-right: 0;
  padding-right: 0em;
}

#private-lesson-page .bl_plan_service_name {
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

#private-lesson-page .bl_plan_service_name span {
  font-size: 1.2rem;
}

#private-lesson-page .bl_plan_service_table tbody tr {
  padding: 0.35em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
}

#private-lesson-page .bl_plan_service_table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

#private-lesson-page .bl_plan_service_table tbody th {
  padding: 5px 0 5px 30px;
  font-size: 14px;
  color: #707070;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1.7em;
}

#private-lesson-page .bl_plan_service_table tbody td {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1.7em;
  text-align: center;
  font-size: 14px;
  color: #707070;
}

#private-lesson-page .fixed01 {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  background-color: inherit;
}

#private-lesson-page .fixed01:before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 100%;
  height: 100%;
}

#private-lesson-page .bl_notice {
  margin: 0 auto;
  width: clamp(300px, 100%, 600px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#private-lesson-page .bl_notice_title {
  font-weight: 600;
}

/*--------------------------------
プライスページ
--------------------------------*/
#price-page {
  overflow: hidden;
}

#price-page .el_section_header {
  font-size: 2rem;
  text-align: center;
  color: #272534;
}

#price-page #campaign .bl_section_txt {
  margin: 0px auto;
  width: clamp(300px, 100%, 600px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#price-page .bl_section_imgWrapper > img {
  width: 100%;
}

#price-page .bl_section_box {
  background-color: #fff2f3;
  font-weight: 600;
  width: clamp(300px, 100%, 600px);
  padding: 40px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#price-page .bl_section_box i {
  margin-right: 1rem;
}

#price-page .bl_required_item {
  margin: 30px auto;
  border: 1px solid #f5f5f5;
  font-weight: 600;
  width: clamp(300px, 100%, 600px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#price-page .bl_required_item i {
  margin-right: 1rem;
}

#price-page .bl_required_item p {
  color: #ffffff;
  padding: 10px 30px;
  background-color: #f78f93;
}

#price-page .bl_required_item ul {
  padding: 40px 30px;
}

#price-page .bl_required_item ul li {
  list-style-type: circle;
}

#price-page .bl_notice {
  margin: 0 auto;
  width: clamp(300px, 100%, 600px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#price-page .bl_notice_title {
  font-weight: 600;
}

#price-page .bl_section_txt {
  color: #707070;
  margin-bottom: 30px;
}

#price-page .bl_section_body > *:last-child {
  margin-bottom: 0;
}

#price-page #campaign .bl_section_imgWrapper {
  max-width: 500px;
}

#price-page #monthly .bl_section_imgWrapper {
  max-width: 200px;
}

#price-page #ticket .bl_section_imgWrapper {
  max-width: 150px;
}

#price-page #monthly_online .bl_section_imgWrapper {
  max-width: 250px;
}

#price-page #ticket_online .bl_section_imgWrapper {
  max-width: 250px;
}

#price-page #monthly_senior .bl_section_imgWrapper {
  max-width: 200px;
}

#price-page #ticket_senior .bl_section_imgWrapper {
  max-width: 200px;
}

#price-page .bl_scroll {
  overflow-x: scroll;
}

#price-page .bl_price_price {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  color: #f78f93;
  white-space: nowrap;
}

#price-page .bl_price_price span {
  font-size: 1.6rem;
  color: #707070;
  font-weight: normal;
  margin-right: -8px;
}

#price-page .bl_price_price.bl_price_price__white {
  color: #ffffff;
  font-size: 3rem;
}

#price-page .bl_price_price.bl_price_price__white span {
  font-size: 1.2rem;
  color: #ffffff;
}

#price-page .bl_plan_service_table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  table-layout: fixed;
  width: 100%;
  text-align: left;
}

#price-page .bl_plan_service_table thead .blank {
  background-color: #ffffff;
}

#price-page .bl_plan_service_table thead th:nth-of-type(2) {
  background: -webkit-gradient(linear, left top, right top, from(#f5929c), to(rgba(214, 157, 160, 0.5)));
  background: linear-gradient(to right, #f5929c 0%, rgba(214, 157, 160, 0.5) 100%);
}

#price-page .bl_plan_service_table thead th:nth-of-type(3) {
  background: -webkit-gradient(linear, left top, right top, from(#f5929c), to(rgba(214, 157, 160, 0.5)));
  background: linear-gradient(to right, #f5929c 0%, rgba(214, 157, 160, 0.5) 100%);
}

#price-page .bl_plan_service_table thead th:nth-of-type(4) {
  background: -webkit-gradient(linear, left top, right top, from(#f5929c), to(rgba(214, 157, 160, 0.5)));
  background: linear-gradient(to right, #f5929c 0%, rgba(214, 157, 160, 0.5) 100%);
}

#price-page .bl_plan_service_table thead th:nth-of-type(5) {
  background: -webkit-gradient(linear, left top, right top, from(#f5929c), to(rgba(214, 157, 160, 0.5)));
  background: linear-gradient(to right, #f5929c 0%, rgba(214, 157, 160, 0.5) 100%);
}

#price-page .bl_plan_service_table thead th:nth-of-type(6) {
  background: -webkit-gradient(linear, left top, right top, from(#f5929c), to(rgba(214, 157, 160, 0.5)));
  background: linear-gradient(to right, #f5929c 0%, rgba(214, 157, 160, 0.5) 100%);
}

#price-page .bl_plan_service_table thead th {
  padding: 1em 0.8em;
  margin-right: 10px;
  text-align: center;
  vertical-align: middle;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#price-page .bl_plan_service_table thead th:last-child {
  margin-right: 0;
}

#price-page .bl_plan_service_table thead th:first-child {
  margin-right: 0;
  padding-right: 0em;
}

#price-page .bl_plan_service_name {
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

#price-page .bl_plan_service_name span {
  font-size: 1.2rem;
}

#price-page .bl_plan_service_table tbody tr {
  padding: 0.35em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
}

#price-page .bl_plan_service_table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

#price-page .bl_plan_service_table tbody th {
  padding: 5px 0 5px 30px;
  font-size: 14px;
  color: #707070;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1.7em;
}

#price-page .bl_plan_service_table tbody td {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1.7em;
  text-align: center;
  font-size: 14px;
  color: #707070;
}

#price-page .fixed01 {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  background-color: inherit;
}

#price-page .fixed01:before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 100%;
  height: 100%;
}

/*--------------------------------
アーカイブページ（ブログ）
--------------------------------*/
#blog-archive .el_section_ttl {
  text-align: center;
  margin-bottom: 60px;
}

#blog-archive .bl_blog_list {
  width: 100%;
}

#blog-archive .bl_blog_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#blog-archive .bl_blog_item {
  width: 80%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 30px;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#blog-archive .bl_blog_item .post-categories {
  position: absolute;
  border: #f5f5f5;
  top: 0;
  left: 0;
  padding: 5px 10px;
  color: #ffffff;
  background-color: #f78f93;
  border: 0.5px solid #f5f5f5;
}

#blog-archive .bl_blog_item .post-categories a {
  color: #ffffff;
}

#blog-archive .bl_blog_thumbnail {
  width: 26.6666%;
  text-align: center;
}

#blog-archive .bl_blog_thumbnail img {
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  max-height: 161px;
}

#blog-archive .bl_blog_body {
  width: 67.7777%;
  color: #707070;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#blog-archive .bl_blog_date {
  font-size: 12px;
}

#blog-archive .bl_blog_category {
  display: inline-block;
  border: #f5f5f5;
  top: 0;
  left: 0;
  padding: 5px 10px;
  color: #ffffff;
  background-color: #f78f93;
  border: 0.5px solid #f5f5f5;
}

/*--------------------------------
アーカイブページ（インストラクター）
--------------------------------*/
#instructor-archive .bl_instructor_wrapper {
  background-color: #52b2ac;
}

#instructor-archive .bl_card_wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2%;
}

#instructor-archive .bl_card_wrapper img {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

#instructor-archive .bl_card {
  margin-bottom: 150px;
  display: block;
  width: 20%;
  text-align: center;
}

#instructor-archive .bl_card_imgWrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

#instructor-archive .bl_section_imgWrapper > img {
  width: 100%;
}

#instructor-archive .bl_card_body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #f78f93;
}

#instructor-archive .bl_card_name {
  font-family: josefin-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #c16065;
  width: 100%;
  text-align: center;
  display: block;
  font-size: 2rem;
}

#instructor-archive .bl_card_type {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  color: #707070;
}

#instructor-archive .bl_section_body > *:last-child {
  margin-bottom: 0;
}

#instructor-archive .el_btn {
  display: block;
  width: 150px;
  margin: 0 auto;
}

/*--------------------------------
インストラクター個別ページ
--------------------------------*/
#single-instructor .ly_section_left {
  width: 30%;
  margin-bottom: 30px;
}

#single-instructor .ly_section_left .bl_section_imgWrapper {
  text-align: center;
}

#single-instructor .ly_section_left .bl_section_imgWrapper img {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

#single-instructor .ly_section_left .bl_section_name {
  font-family: dnp-shuei-mincho-pr6n, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #c16065;
  width: 100%;
  text-align: center;
  display: block;
  font-size: 3rem;
}

#single-instructor .ly_section_right {
  width: 60%;
  margin-bottom: 30px;
}

#single-instructor .ly_section_right .bl_section_header {
  font-family: dnp-shuei-mincho-pr6n, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #c16065;
  width: 100%;
  text-align: left;
  display: block;
  font-size: 3rem;
  width: 80%;
}

#single-instructor .ly_section_right .bl_section_txt {
  width: 80%;
}

#single-instructor .el_icon {
  display: block;
  max-width: 1180px;
}

#single-instructor img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
  width: 60%;
  height: 60%;
  min-width: 150px;
}

/*--------------------------------
ブログ詳細
--------------------------------*/
main {
  width: 65.555%;
}

#single-blog .ly_inner {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#single-blog .el_section_ttl {
  font-size: 2rem;
  margin-bottom: 30px;
  font-weight: bold;
  text-align: left;
  margin: 30px 0;
}

#single-blog .el_section_ttl::after {
  content: none;
}

#single-blog .bl_blog_category {
  display: inline-block;
  border: #f5f5f5;
  top: 0;
  left: 0;
  padding: 5px 10px;
  color: #ffffff;
  background-color: #f78f93;
  border: 0.5px solid #f5f5f5;
}

#single-blog .bl_blog_category a {
  color: #ffffff;
}

#single-blog .wp_social_bookmarking_light {
  display: inline-block;
}

#single-blog .wp_social_bookmarking_light_clear {
  clear: both !important;
  display: none;
}

#single-blog .bl_blog_date {
  float: right;
  font-size: 1rem;
  line-height: 3;
}

#single-blog .bl_blog_thumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#single-blog .bl_blog_cont {
  padding-top: 30px;
  padding-bottom: 30px;
}

#single-blog .bl_blog_cont h1,
#single-blog .bl_blog_cont h2,
#single-blog .bl_blog_cont h3,
#single-blog .bl_blog_cont h4,
#single-blog .bl_blog_cont h5 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 1.2;
}

#single-blog .bl_blog_cont h1 {
  font-size: 2.6rem;
}

#single-blog .bl_blog_cont h2 {
  font-size: 2.2rem;
}

#single-blog .bl_blog_cont blockquote {
  margin: 20px;
  background-color: #f5f5f5;
  padding: 27px;
}

#single-blog .bl_blog_cont ul {
  list-style: inside;
}

#single-blog .bl_blog_cont li {
  list-style-type: disc;
}

#single-blog .bl_blog_cont li::marker {
  color: #fff2f3;
}

#single-blog .bl_blog_cont a {
  color: #fff2f3;
  text-decoration: underline;
}

/* サイドバー */
.ly_sidebar {
  width: 30%;
}

.bl_myrelated h4 {
  text-align: center;
  color: #ffffff;
  display: block;
  background-color: #f78f93;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0 1.2rem;
  padding: 2rem;
}

.bl_myrelated article > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 6%;
}

.bl_myrelated article {
  margin-bottom: 20px;
}

.bl_myrelated article:last-child {
  margin-bottom: 0px;
}

.bl_myrelated figure {
  text-align: center;
  width: 50%;
}

.bl_myrelated figure img {
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  max-height: 85.3px;
}

.bl_myrelated p {
  color: #707070;
  width: 50%;
  font-size: 12px;
}

/* サイドバー・カテゴリーウィジェット */
.widget_block {
  margin-bottom: 12px;
}

.widget_block h4 {
  text-align: center;
}

.widget_block .has-background {
  background-color: #f78f93 !important;
}

.wp-block-categories-list.wp-block-categories {
  list-style: inside;
}

.wp-block-categories-list.wp-block-categories li {
  list-style-type: none;
  margin-bottom: 5px;
}

.wp-block-categories-list.wp-block-categories li:last-child {
  margin-bottom: 0px;
}

.wp-block-categories-list.wp-block-categories li a {
  color: #707070 !important;
}

/* おすすめ記事のスタイリング */
.bl_myrecommended h4 {
  text-align: center;
  color: #ffffff;
  display: block;
  background-color: #f78f93;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0 1.2rem;
  padding: 2rem;
}

.bl_myrecommended article > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 6%;
}

.bl_myrecommended article {
  margin-bottom: 20px;
}

.bl_myrecommended article:last-child {
  margin-bottom: 0px;
}

.bl_myrecommended figure {
  text-align: center;
  width: 50%;
}

.bl_myrecommended figure img {
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  max-height: 85.3px;
}

.bl_myrecommended p {
  width: 50%;
  font-size: 12px;
}

/* おすすめ記事だけのスタイリング */
.bl_myrecommended {
  width: 100%;
}

.bl_myrecommended h4 {
  padding-left: 0;
  text-align: left;
  background-color: #ffffff;
  color: #f78f93;
}

.bl_myrecommended figure {
  width: 30%;
}

.bl_myrecommended figure img {
  height: auto;
  max-height: 100px;
}

.bl_myrecommended_body {
  color: #707070;
  width: 70%;
}

/* スケジュール一覧ページ */
#schedule-archive .el_section_ttl {
  text-align: center;
  margin-bottom: 45px;
  font-family: none;
}

#schedule-archive .bl_schedule_item {
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  color: #f78f93;
}

#schedule-archive .bl_schedule_date {
  margin-right: 30px;
  font-weight: 500;
}

/* お知らせ詳細ページ */
#single-schedule .ly_inner {
  max-width: 800px;
}

#single-schedule .bl_schedule_public {
  text-align: right;
  font-size: 1.2rem;
}

#single-schedule .bl_schedule_update {
  text-align: right;
  font-size: 1.2rem;
}

#single-schedule .bl_schedule_cont {
  padding-top: 30px;
  padding-bottom: 30px;
}

#single-schedule .bl_schedule_cont h1,
#single-schedule .bl_schedule_cont h2,
#single-schedule .bl_schedule_cont h3,
#single-schedule .bl_schedule_cont h4,
#single-schedule .bl_schedule_cont h5 {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.2;
}

#single-schedule .bl_schedule_cont h1 {
  font-size: 2.6rem !important;
}

#single-schedule .bl_schedule_cont h2 {
  font-size: 2.2rem !important;
}

#single-schedule .bl_schedule_cont blockquote {
  margin: 20px;
  background-color: #f5f5f5;
  padding: 27px;
}

#single-schedule .bl_schedule_cont ul {
  list-style: inside;
}

#single-schedule .bl_schedule_cont li {
  list-style-type: disc;
}

#single-schedule .bl_schedule_cont li::marker {
  color: #c16065;
}

#single-schedule .bl_schedule_cont a {
  color: #c16065;
  text-decoration: underline;
}

/* コンタクトフォームのスタイリング */
#page-contact .el_contact_lead {
  text-align: left;
}

#page-contact .ly_inner {
  max-width: 700px;
}

#page-contact p {
  text-align: center;
}

#page-contact a {
  color: #c16065;
  text-decoration: underline;
}

.wpcf7 {
  padding-top: 41px;
  padding-bottom: 82px;
}

.bl_cf7_table {
  width: 100%;
  gap: 30px;
}

th,
td,
tr {
  display: block;
}

th {
  margin-bottom: 5px;
}

th span {
  font-weight: bold;
}

tr {
  margin-bottom: 30px;
}

.wpcf7-form-control.wpcf7-text,
.wpcf7-form-control.wpcf7-textarea.wpcf7-validates-as-required {
  width: 100%;
  border: 0.5px solid #f78f93;
  resize: none;
}

.wpcf7-form-control.wpcf7-text::-webkit-input-placeholder,
.wpcf7-form-control.wpcf7-textarea.wpcf7-validates-as-required::-webkit-input-placeholder {
  color: #dddddd;
}

.wpcf7-form-control.wpcf7-text:-ms-input-placeholder,
.wpcf7-form-control.wpcf7-textarea.wpcf7-validates-as-required:-ms-input-placeholder {
  color: #dddddd;
}

.wpcf7-form-control.wpcf7-text::-ms-input-placeholder,
.wpcf7-form-control.wpcf7-textarea.wpcf7-validates-as-required::-ms-input-placeholder {
  color: #dddddd;
}

.wpcf7-form-control.wpcf7-text::placeholder,
.wpcf7-form-control.wpcf7-textarea.wpcf7-validates-as-required::placeholder {
  color: #dddddd;
}

.wpcf7-form-control.wpcf7-text {
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wpcf7-form-control.wpcf7-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wpcf7-list-item {
  display: block;
}

.wpcf7-form-control-wrap.acceptance {
  display: block;
  margin-top: 33px;
  margin-bottom: 48px;
}

.wpcf7 .ajax-loader {
  display: none !important;
}

/* ページャーのスタイリング */
.navigation.pagination {
  margin-top: 30px;
}

.page-numbers {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination .nav-links {
  text-align: center;
}

.pagination .nav-links .current {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 10px;
  border: 1px solid #f78f93;
  background: #f78f93;
  color: #fff;
  line-height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pagination .nav-links .dots {
  display: inline-block;
  margin: 30px 8px 8px 8px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 30px;
}

.pagination .nav-links a.page-numbers {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 10px;
  border: 1px solid #f78f93;
  text-decoration: none;
  color: #f78f93;
  line-height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pagination .nav-links a.page-numbers:hover {
  background: #f78f93;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* プライバシーポリシーページ */
.bl_privacy_article h3 {
  font-weight: 700;
  margin-bottom: 20px;
}

/* 利用規約ページ */
.bl_row_article h3 {
  font-weight: 700;
  margin-bottom: 20px;
}

/*--------------------------------
loading animation
--------------------------------*/
/* ローディングアニメーション */
.loading {
  width: 100vw;
  height: 100vh;
  -webkit-transition: all 2s;
  transition: all 2s;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 1;
  visibility: visible;
}

.loading.is-active {
  opacity: 0;
  visibility: hidden;
}

.loading-animation {
  width: 100vw;
  height: 100vh;
  -webkit-transition: all 2s;
  transition: all 2s;
  background-color: #ffffff;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  visibility: hidden;
}

.loading-animation.is-active {
  opacity: 1;
  visibility: visible;
}
/*# sourceMappingURL=style.css.map */