@mixin josefin-sans() {
  font-family: josefin-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $primaryDark;
}
@mixin shuei-minchou() {
  font-family: dnp-shuei-mincho-pr6n, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: $primaryDark;
}
@mixin trajan {
  font-family: trajan-pro-3, serif;
  font-weight: 600;
  font-style: normal;
  color: $primary;
}

/* color変数 */
$primary: #f78f93;
$primaryDark: #c16065;
$primaryLight: #fff2f3;
$white: #ffffff;
$yellow: #ffe200;
$navy: #272534;
$black: #707070;
$grey: #f5f5f5;
$beige: #faf8e8;
$green: #52b2ac;

/*--------------------------------
コンポーネント
--------------------------------*/
.el_logo {
  z-index: 99;
  p {
    @include trajan();
    font-size: 1rem;
  }
  img {
    width: 60px;
    vertical-align: middle;
  }
}
.el_icon {
  width: 50px;
}
.el_tel {
  font-size: 2rem;
  color: $black;
  @include josefin-sans();
  font-weight: 400;
  font-style: normal;
}
.el_notice {
  font-size: 1.3rem;
}
.el_btn {
  display: inline-block;
  width: 180px;
  max-width: 100%;
  padding: 15px 15px;
  background-color: $primary;
  border: 2px solid transparent;
  color: #fff;
  font-size: inherit;
  text-align: center;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 50px;
  span {
    position: relative;
    &::before {
      content: "";
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      right: -20px;
      width: 8px; /* くの字を山なりに見た時、左側の長さ */
      height: 8px; /* くの字を山なりに見た時、右側の長さ */
      border-top: 1px solid white; /* くの字を山なりに見た時、左側の太さと色 */
      transform: rotate(45deg); /* くの字の向き */
      transition: 0.25s;
    }
    &::after {
      content: "";
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      right: -22px;
      width: 15px; /* 棒の長さ */
      height: 1px; /* 棒の太さ */
      background: white; /* 棒の色 */
      transform: translateY(-50%);
      transition: 0.25s;
    }
  }
  &:hover {
    span {
      &::before {
        right: -30px;
      }
      &::after {
        right: -32px;
        width: 25px;
      }
    }
  }
}
.el_btn.el_btn__square {
  border-radius: 0;
  background-color: $white;
  color: $black;
  padding: 8px 15px;
  border: 0.5px solid $primary;
  &:hover {
    background-color: $primary;
    color: $white;
  }
}
.ly_section {
  padding-left: 4vw;
  padding-right: 4vw;
}
.ly_inner {
  max-width: 1180px;
  margin: 0 auto;
}
.el_section_ttl {
  @include josefin-sans();
  font-weight: 700;
  color: $primaryDark;
  text-align: center;
  font-size: 4rem;
  letter-spacing: 0.2em;
  position: relative;
  line-height: 1.3;
  display: table;
  margin: 0 auto;
  &::after {
    content: "";
    height: 3px;
    width: 30px;
    background-color: $primaryDark;
    position: absolute;
    top: 60%;
    left: -40px;
    transform: translateY(-50%);
  }
  &_sub {
    display: block;
    font-size: 1rem;
    text-align: center;
    letter-spacing: 0.2em;
    color: $primaryDark;
  }
}
.bl_section_header {
  @include shuei-minchou();
  font-size: 3rem;
  font-weight: normal;
}

/*--------------------------------
ドロワーメニュー
--------------------------------*/
//ドロワーメニュー押すとディスプレイが固定
body.noscroll {
  overflow: hidden;
}

//ドロワーメニュー中身
.bl_drawer {
  position: fixed;
  top: 0;
  right: -25px;
  width: 500px; //メニュー中身の幅はここを調整
  height: 100%;
  background: $primaryLight;
  padding: 80px 10px;
  -webkit-transform: translateX(500px);
  transform: translateX(500px);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  z-index: 9999;
  &_item {
    margin-bottom: 30px;
    padding-bottom: 20px;
    padding-left: 50px;
    border-bottom: white 1px solid;
    a {
      color: $primary;
    }
  }
  &_list {
    margin-left: -20px;
  }
  .el_icon_wrapper {
    padding-left: 50px;
  }
}

//ドロワーメニューの開閉ボタン
.bl_drawerBtn {
  position: fixed;
  top: 10px;
  left: -70px; //中身の幅をいじるとボタンが隠れてしまうのでこちらで調整
  width: 60px;
  height: 60px;
  cursor: pointer;
  align-items: flex-end;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  color: #ffffff;
  padding-bottom: 2px;
  z-index: 10000;
  display: none; //これがあるとスマホのときしか表示されなくなるので注意！！
}
//ハンバーガーボタンを作るスタイルシート
.hambarg {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 2px;
  width: 40px;
  background: $primary;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}
.hambarg:nth-child(1) {
  top: 30%;
  left: 50%;
}
.hambarg:nth-child(2) {
  top: 45%;
  left: 50%;
}
.hambarg:nth-child(3) {
  top: 60%;
  left: 50%;
}

//ドロワーメニューをOPENにするスタイルシート
.bl_drawer.action {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

//ボタンをドロワーメニュー内に表示
.bl_drawerBtn.action {
  left: 0;
}

//ハンバーガーボタンを"×"に変える
.bl_drawerBtn.action {
  .hambarg {
    width: 20px;
  }
  .hambarg:nth-child(1) {
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .hambarg:nth-child(2) {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  .hambarg:nth-child(3) {
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
/*--------------------------------
ヘッダー
--------------------------------*/
.ly_header {
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  width: 100%;
  top: 0px;
  background-color: $white;
  z-index: 999;
}

.ly_header_inner {
  padding-right: 4vw;
  padding-left: 4vw;
  margin-right: auto;
  margin-left: auto;
}

.bl_headerNav {
  display: flex;
  justify-content: space-around;
  min-width: 700px;
  margin-right: 50px;
}

.bl_headerNav_item {
  flex-grow: 1;
  text-align: center;
}

.bl_headerNav_item:last-child .bl_headerNav_link::after {
  content: none;
}

.bl_headerNav_link {
  position: relative;
  display: block;
  padding: 15px 5px;
  border-bottom: 4px solid transparent;
  color: #222;
  text-decoration: none;
  transition: 0.25s;
}

.bl_headerNav_link:focus,
.bl_headerNav_link:hover {
  border-bottom-color: $primary;
}

/*--------------------------------
ファーストビュー
--------------------------------*/
.ly_fv {
  max-width: 2000px;
  padding-top: 50px;
  margin-left: auto;
  display: block;
  width: 80%;
  position: relative;
  > img {
    position: relative;
    object-fit: cover;
    width: 100%;
  }
  &::after {
    content: "©︎2021 YOGA AMA.";
    @include josefin-sans();
    position: absolute;
    top: 20%;
    right: -55px;
    transform: translateY(-50%);
    transform: rotate(90deg);
  }
  .el_icon_wrapper {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    .el_icon:first-child {
      margin-bottom: 10px;
    }
  }
}
.bl_fv_copy {
  position: absolute;
  top: 50%;
  left: -50px;
  transform: translateY(-50%);
  &_sub {
    font-size: 2rem;
    color: $primaryDark;
  }
  &_main {
    @include shuei-minchou();
    font-size: 5rem;
  }
  &_text {
    color: $primary;
  }
}

/*--------------------------------
コンセプトセクション
--------------------------------*/
#concept {
  overflow: hidden;
  .bl_section {
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .bl_section_imgWrapper {
    flex: 1;
  }
  .bl_section_imgWrapper > img {
    width: 100%;
  }
  .bl_section_body {
    flex: 1;
    padding-left: 4vw;
  }
  .bl_section_txt {
    color: $black;
    margin-bottom: 20px;
  }
  .bl_section_body > *:last-child {
    margin-bottom: 0;
  }
}

/*-------------------------------
フューチャーセクション
--------------------------------*/
#feature {
  overflow: hidden;
  .bl_section {
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .bl_section_imgWrapper {
    flex: 1;
  }
  .bl_section_imgWrapper > img {
    width: 100%;
  }
  .bl_section_body .bl_section_header:first-child {
    @include josefin-sans();
    font-weight: 700;
  }
  .bl_section_body {
    flex: 1;
    padding-left: 4vw;
  }
  .bl_section_txt {
    color: $black;
    margin-bottom: 20px;
  }
  .bl_section_body > *:last-child {
    margin-bottom: 0;
  }
}

/*--------------------------------
ビギナーセクション
--------------------------------*/
#beginner {
  overflow: hidden;
  .bl_section {
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .bl_section_imgWrapper {
    flex: 1;
  }
  .bl_section_imgWrapper > img {
    width: 100%;
  }
  .bl_section_body {
    flex: 1;
    padding-left: 4vw;
    .el_btn {
      display: table;
      margin: 0 auto;
    }
  }
  .bl_section_txt {
    color: $black;
    margin-bottom: 30px;
  }
  .bl_section_body > *:last-child {
    margin-bottom: 0;
  }
}

/*--------------------------------
ボイスセクション
--------------------------------*/
#voice {
  overflow: hidden;
  .bl_section {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2%;
  }
  .bl_section_card {
    display: block;
    width: 20%;
  }
  .bl_section_imgWrapper {
    flex: 1;
    text-align: center;
  }
  .bl_section_imgWrapper > img {
    width: 50%;
  }
  .bl_section_body {
    flex: 1;
    color: $primary;
  }
  .bl_section_txt {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }
  .bl_section_body > *:last-child {
    margin-bottom: 0;
  }
  .balloon-top {
    box-sizing: border-box;
    border-radius: 20px;
    position: relative;
    display: inline-block;
    margin: 1.5em 0;
    padding: 7px 15px;
    min-width: 120px;
    max-width: 100%;
    font-size: 16px;
    background: $grey;
  }

  .balloon-top:before {
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-bottom: 15px solid $grey;

    .balloon-top p {
      margin: 0;
      padding: 0;
    }
  }
}
/*--------------------------------
スケジュールセクション
--------------------------------*/
#schedule {
  &.ly_section {
    padding-left: 0vw;
    padding-right: 0vw;
  }
  .ly_inner {
    padding-top: 5vh;
    padding-bottom: 10vh;
    max-width: none;
    background-image: url(./img/schedule-bg.jpeg);
    z-index: -2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    &::before {
      /* 透過させた黒を重ねる */
      background-color: rgba(255, 255, 255, 0.3);
      /* どの範囲に重ねるかを指定 */
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: " ";
      z-index: -1;
    }
  }
  p {
    width: clamp(250px, 50%, 600px);
  }
}
/*--------------------------------
ブログセクション
--------------------------------*/
#blog {
  overflow: hidden;
  .bl_section {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5%;
    &_card {
      color: $black;
      width: 40%;
      gap: 10px;
      &:nth-child(1) {
        margin-bottom: 50px;
      }
      &:nth-child(2) {
        margin-bottom: 50px;
      }
    }
  }
  &_date {
    color: $primaryDark;
  }
  &_ttl {
    font-size: 2rem;
  }
  &_desc {
  }

  .bl_section_imgWrapper {
    flex: 1;
    text-align: center;
  }
  .bl_section_body {
    flex: 1;
  }
  .bl_section_body > *:last-child {
    margin-bottom: 0;
  }
}
/*--------------------------------
リザーブセクション
--------------------------------*/
#reserve {
  overflow: hidden;
  .bl_section {
    margin: 0 auto;
  }
  .bl_section_imgWrapper {
  }
  .bl_section_imgWrapper > img {
    width: 100%;
  }
  .bl_section_txt {
    color: $black;
    margin-bottom: 20px;
  }
  .bl_section_body > *:last-child {
    margin-bottom: 0;
  }
  .bl_banner_wrapper {
    img {
      height: 300px;
      object-fit: cover;
    }
    &:hover {
      opacity: 0.5;
    }
  }
}
/*--------------------------------
フォトセクション
--------------------------------*/
#photo {
  &.ly_section {
    padding-right: 0vw;
    padding-left: 0vw;
  }
  .ly_inner {
    max-width: none;
  }
}

/*--------------------------------
アクセスセクション
--------------------------------*/
#access {
  overflow: hidden;
  &.ly_section {
    padding-right: 0px;
    padding-left: 0px;
  }
  .ly_inner {
    max-width: none;
  }
  .bl_section {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .bl_section_imgWrapper {
    img {
      width: 200px;
    }
  }
  .bl_section_body {
    color: $primaryDark;
  }
  .bl_section_txt {
    color: $primary;
  }
  .bl_section_body > *:last-child {
    margin-bottom: 0;
  }
  .el_notice {
    color: $primary;
  }
  .el_tel {
    vertical-align: sub;
    span {
      font-size: 3rem;
      color: $primaryDark;
    }
  }
}

/*--------------------------------
バナーセクション
--------------------------------*/
#banner {
  .bl_section {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
  }
  .bl_section_imgWrapper {
    img {
      width: 180px;
    }
  }
}
/*--------------------------------
フッター
--------------------------------*/
.ly_footer {
  background-color: $primaryLight;
  border-bottom: 1px solid $white;
  .el_section_ttl {
    font-size: 2rem;
    margin-bottom: 10px;
    span {
      font-size: 1.5rem;
    }
    &::after {
      display: none;
    }
  }
  .ly_inner {
    align-items: center;
  }
}
.el_icon {
  &_wrapper {
    gap: 10px;
  }
  width: 35px;
}

.bl_footer_side {
  margin-right: 30px;
}
.bl_footer_nav {
  padding-left: 2%;
  margin-right: 2%;
  border-left: 1px solid $primary;

  a {
    margin-right: 30px;
    color: $primary;
    position: relative;
  }
  li {
    white-space: nowrap;
    margin: 10px;
    &:hover {
      opacity: 0.7;
    }
  }
  > ul {
    padding: 0px 0px 0px 20px;
    li {
      &::before {
        content: "- ";
        display: inline;
        color: $primary;
      }
    }
  }
}

.ly_copyright {
  background-color: $primary;
  text-align: center;
  border-top: 1px solid $white;
  span {
    color: $white;
    vertical-align: middle;
    font-size: 1.2rem;
  }
}
.bl_production {
  display: inline-flex;
  align-items: center;
  opacity: 0.5;
  img {
    width: 80px;
  }
  p {
    font-size: 10px;
    color: white;
  }
}

/* ここから各固定ページ */

.ly_heading {
  height: 500px;
  margin-top: 8rem;
  position: relative;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  h2 {
    @include josefin-sans();
    font-size: 3rem;
    position: absolute;
    text-align: center;
    color: $white;
    position: absolute;
    white-space: nowrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.ly_breadcrumbs {
  padding-right: 4vw;
  padding-left: 4vw;
  background-color: $grey;
}
.bl_breadcrumbs {
  margin: 0 auto;
  padding-top: 17px;
  padding-bottom: 17px;
  span {
    vertical-align: middle;
  }
}

/*--------------------------------
アーカイブページ（ブログ）
--------------------------------*/
#blog-archive {
  .el_section_ttl {
    text-align: center;
    margin-bottom: 60px;
    font-size: 3rem;
  }
  .bl_blog {
    &_list {
      width: 100%;
    }
    &_card {
      display: flex; //ここにflexいれないとbody部分が横並びにならない！！
      justify-content: center;
    }
    &_item {
      width: 80%;
      flex-direction: row;
      margin-bottom: 30px;
      position: relative;
      justify-content: space-between;
      .post-categories {
        position: absolute;
        border: $grey;
        top: 0;
        left: 0;
        padding: 5px 10px;
        color: $white;
        background-color: $primary;
        border: 0.5px solid $grey;
        a {
          color: $white;
        }
      }
    }
    &_thumbnail {
      width: 26.6666%;
      text-align: center;
      img {
        object-fit: cover;
        height: auto;
        max-height: 161px;
      }
    }
    &_body {
      width: 67.7777%;
      color: $black;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &_date {
      font-size: 12px;
    }
    &_ttl {
      text-decoration: underline;
    }
    &_category {
      display: inline-block;
      border: $grey;
      top: 0;
      left: 0;
      padding: 5px 10px;
      color: $white;
      background-color: $primary;
      border: 0.5px solid $grey;
    }
  }
}

/*--------------------------------
アーカイブページ（インストラクター）
--------------------------------*/
#instructor-archive {
  .bl_instructor_wrapper {
    background-color: $green;
  }
  .bl_card_wrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
    img {
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .bl_card {
    margin-bottom: 45px;
    display: block;
    width: 20%;
    text-align: center;
  }
  .bl_card_imgWrapper {
    flex: 1;
    text-align: center;
  }
  .bl_section_imgWrapper > img {
    width: 100%;
  }
  .bl_card_body {
    flex: 1;
    color: $primary;
  }
  .bl_card_name {
    @include josefin-sans();
    width: 100%;
    text-align: center;
    display: block;
    font-size: 2rem;
  }
  .bl_card_type {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    color: $black;
  }
  .bl_section_body > *:last-child {
    margin-bottom: 0;
  }
  .el_btn {
    display: block;
    width: 150px;
    margin: 0 auto;
  }
}

/*--------------------------------
インストラクター個別ページ
--------------------------------*/
#single-instructor {
  .ly_section_left {
    width: 30%;
    margin-bottom: 30px;
    .bl_section_imgWrapper {
      text-align: center;
      img {
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .bl_section_name {
      @include shuei-minchou();
      width: 100%;
      text-align: center;
      display: block;
      font-size: 3rem;
    }
  }
  .ly_section_right {
    width: 60%;
    margin-bottom: 30px;
    .bl_section_header {
      @include shuei-minchou();
      width: 100%;
      text-align: left;
      display: block;
      font-size: 3rem;
      width: 80%;
    }
    .bl_section_txt {
      width: 80%;

    }
  }
  .el_icon {
    display: block;
    max-width: 1180px;
  }
  img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
    width: 60%;
    height: 60%;
    min-width: 150px;
  }
}

/*--------------------------------
ブログ詳細
--------------------------------*/
//メイン部分
main {
  width: 65.555%;
}
#single-blog {
  .ly_inner {
    justify-content: space-between;
  }
  .el_section_ttl {
    font-size: 2rem;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: left;
    margin: 30px 0;
    &::after {
      content: none;
    }
  }

  .bl_blog_category {
    display: inline-block;
    border: $grey;
    top: 0;
    left: 0;
    padding: 5px 10px;
    color: $white;
    background-color: $primary;
    border: 0.5px solid $grey;
    a {
      color: $white;
    }
  }
  .wp_social_bookmarking_light {
    display: inline-block;
  }
  .wp_social_bookmarking_light_clear {
    clear: both !important;
    display: none;
  }
  .bl_blog {
    &_date {
      float: right;
      font-size: 1rem;
      line-height: 3;
    }
    &_thumbnail {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &_cont {
      padding-top: 30px;
      padding-bottom: 30px;
      h1,
      h2,
      h3,
      h4,
      h5 {
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: bold;
      }
      h1 {
        font-size: 2.6rem;
      }
      h2 {
        font-size: 2.2rem;
      }
      blockquote {
        margin: 20px;
        background-color: $grey;
        padding: 27px;
      }
      ul {
        list-style: inside;
      }
      li {
        list-style-type: disc;
      }
      li::marker {
        color: $primaryLight;
      }
      a {
        color: $primaryLight;
        text-decoration: underline;
      }
    }
  }
}
/* サイドバー */

//関連記事
.ly_sidebar {
  width: 30%;
}
.bl_myrelated {
  h4 {
    text-align: center;
    color: $white;
    display: block;
    background-color: $primary;
    box-sizing: border-box;
    margin: 0 0 1.2rem;
    padding: 2rem;
  }
  article > a {
    display: flex;
    justify-content: space-between;
    gap: 6%;
  }
  article {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  figure {
    text-align: center;
    width: 50%;
    img {
      object-fit: cover;
      height: auto;
      max-height: 85.3px;
    }
  }
  p {
    color: $black;
    width: 50%;
    font-size: 12px;
  }
}

/* サイドバー・カテゴリーウィジェット */
.widget_block {
  h4 {
    text-align: center;
  }
  margin-bottom: 12px;
  .has-background {
    background-color: $primary !important;
  }
}

.wp-block-categories-list.wp-block-categories {
  list-style: inside;
  li {
    list-style-type: none;
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0px;
    }
    a {
      color: $black !important;
    }
  }
}

/* おすすめ記事のスタイリング */
.bl_myrecommended {
  h4 {
    text-align: center;
    color: $white;
    display: block;
    background-color: $primary;
    box-sizing: border-box;
    margin: 0 0 1.2rem;
    padding: 2rem;
  }
  article > a {
    display: flex;
    justify-content: space-between;
    gap: 6%;
  }
  article {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  figure {
    text-align: center;
    width: 50%;
    img {
      object-fit: cover;
      height: auto;
      max-height: 85.3px;
    }
  }
  p {
    width: 50%;
    font-size: 12px;
  }
}

/* おすすめ記事だけのスタイリング */
.bl_myrecommended {
  width: 100%;
  h4 {
    padding-left: 0;
    text-align: left;
    background-color: $white;
    color: $primary;
  }
  figure {
    width: 30%;
    img {
      height: auto;
      max-height: 100px;
    }
  }
  &_body {
    color: $black;
    width: 70%;
  }
}

/* お知らせ一覧ページ */
#news-archive {
  .el_section_ttl {
    text-align: center;
    margin-bottom: 45px;
  }
  .bl_news {
    &_item {
      padding-top: 24px;
      padding-bottom: 24px;
      border-top: 1px solid $grey;
      border-bottom: 1px solid $grey;
      color: $primary;
    }
    &_date {
      margin-right: 54px;
    }
  }
}

/* お知らせ詳細ページ */
#single-news {
  .el_section_ttl {
    margin-bottom: 30px;
    font-weight: bold;
  }
  .bl_news {
    &_date {
      text-align: right;
      font-size: 1rem;
    }
    &_cont {
      padding-top: 30px;
      padding-bottom: 30px;
      h1,
      h2,
      h3,
      h4,
      h5 {
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: bold;
      }
      h1 {
        font-size: 2.6rem;
      }
      h2 {
        font-size: 2.2rem;
      }
      blockquote {
        margin: 20px;
        background-color: $grey;
        padding: 27px;
      }
      ul {
        list-style: inside;
      }
      li {
        list-style-type: disc;
      }
      li::marker {
        color: $primaryDark;
      }
      a {
        color: $primaryDark;
        text-decoration: underline;
      }
    }
  }
}

/* コンタクトフォームのスタイリング */

#page-contact {
  .el_contact_lead {
    text-align: left;
  }
  .ly_inner {
    max-width: 700px;
  }
  p {
    text-align: center;
  }
  a {
    color: $primaryDark;
    text-decoration: underline;
  }
}
.wpcf7 {
  padding-top: 41px;
  padding-bottom: 82px;
}
.bl_cf7_table {
  width: 100%;
}
th,
td {
  display: block;
}
th {
  margin-bottom: 5px;
  span {
    font-weight: bold;
  }
}

//テキストとテキストエリア内のinputの共通スタイリング
.wpcf7-form-control.wpcf7-text,
.wpcf7-form-control.wpcf7-textarea.wpcf7-validates-as-required {
  width: 100%;
  border: 0.5px solid $primary;
}
.wpcf7-form-control.wpcf7-text {
  height: 50px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.wpcf7-form-control.wpcf7-textarea.wpcf7-validates-as-required {
  margin-bottom: 30px;
}
.wpcf7-form-control.wpcf7-radio {
  //ラジオボタンのスタイリング
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.wpcf7-list-item {
  //ラジオボタンのスタイリング
  display: block;
}
.wpcf7-form-control-wrap.acceptance {
  //承認ボタンのスタイリング
  display: block;
  margin-top: 33px;
  margin-bottom: 48px;
}
.wpcf7-submit {
  display: inline-block;
  width: 200px;
  max-width: 100%;
  // padding: 20px 10px;
  background-color: $primary;
  border: 2px solid transparent;
  box-shadow: 0 3px 6px #ddd;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 5px;
  box-sizing: border-box;
  height: 50px;
  cursor: pointer;
  margin-right: -70px;
}

/* ページャーのスタイリング */
.navigation.pagination {
  margin-top: 90px;
}
.page-numbers {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.pagination .nav-links {
  text-align: center;
}
.pagination .nav-links .current {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 10px;
  border: 1px solid $primary;
  background: $primary;
  color: #fff;
  line-height: 50px;
  box-sizing: border-box;
}
.pagination .nav-links .dots {
  display: inline-block;
  margin: 30px 8px 8px 8px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 30px;
}
.pagination .nav-links a.page-numbers {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 10px;
  border: 1px solid $primary;
  text-decoration: none;
  color: $primary;
  line-height: 50px;
  box-sizing: border-box;
}
.pagination .nav-links a.page-numbers:hover {
  background: $primary;
  color: #fff;
  transition: all 0.3s;
}
